body { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-box {
  background-color: #FDF7EF;
}

.restaurant-box {
  background-color: antiquewhite;
}